fondo = #E6E6E6
grisoscuro = #444
rojito = #FF3B30
body
	background fondo
	color grisoscuro
	font-family arial
	font-size 16px
header
	background grisoscuro
	color fondo
	padding 0.5em
	.logo
		border-right 1px solid rojito
		width 60px
		img
			width 50px
	.titular
		margin 0 80px 0 70px
		.titulo
			font-size 18px
			font-weight normal
			margin 0
			padding 0
	.usuario
		.avatar
			img
				width 50px
				border-radius 50%
nav
	background rojito
.izq
	float left

.derecha
	float right